<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name="com.handmeasure.ui.HandMeasureActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HandMeasure.Transparent" />
    </application>
</manifest>
